#content-header h1 {
    color: #999999;
    display: block;
    font-size: 22px;
    margin: 0;
    padding: 25px 0 0 100px;
}

#content-header h3 {
    color: #BB0000;
    font-size: 17px;
    margin: 0;
    padding: 0 0 0 100px;
}
.div_divider{
    background: blue;
    height: 2px;
    width: 100%;
}
#search-text
{
    height: 30px;
    width: 300px;
}