

#news_bar {
    margin: 20px 0 0;
    width: 100%;
}
#news_bar .news_box {
    background: #F2F2F2;
    float: left;
    height: 66px;
    margin: 0 0 0 20px;
    width: 31.7%;
    box-shadow: 0px 4px 6px #888888;
    border: 1px solid #D8D8D8;
}
#news_bar .news_box.first-news {
    margin: 0;
}
#news_bar .news_box .news-title {
    margin: 12px 0 5px 15px;
    width: 283px;
}
#news_bar .news_box .news-title a {
    color: #C80000;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    width: 313px;
}
#news_bar .news_box .news-title a:hover {
    text-decoration: underline;
}
#news_bar .news_box .news-time {
    color: #666666;
    float: left;
    margin: 0 0 0 15px;
}
#news_bar .news_box .comments-count {
    /*    background: url("../images/icon_set_blue_small.jpg") no-repeat scroll 10px 10px rgba(0, 0, 0, 0);*/
    color: #666666;
    float: right;
    margin: 0 15px 0 0;
    padding: 0 0 0 20px;
}
#news_bar .news_box .comments-count a {
    color: #666666;
    text-decoration: none;
}
#news_bar .news_box .comments-count a:hover {
    text-decoration: underline;
}
body > #content_wrapper {
    height: auto;
    min-height: 90%;
}
#content {
    padding-bottom: 33px;
}

/*  User Option Styles */
.button-box {
    float: left;
    margin-left: 34px;
    overflow: hidden;
    position: relative;
    width: 188px;
}
.button-box.left-button {
    margin-left: 0 !important;
}
.button-label p {
    margin-left: -1px;
    text-align: center;
    text-decoration: none;
    width: 190px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 160px;

}

.button-box a {
    text-decoration: none;
}

#user_options {
    height: 400px;
    margin: 0;
    padding: 100px 0 0 0;

}
#user_options .option_buttons {
    display: block;
    float: left;
    height: 185px;
    margin-bottom:  20px;
    outline: medium none;
    text-align: center;
    width: 177px;
}


#student_details_button {
    background: url("../images/dashboard/add-student.png") no-repeat scroll top center #FFFFFF;
}

#student_details_button:hover {
    box-shadow: 0px 0px 6px #888888;
    border: 1px solid #D8D8D8;
    text-decoration: none;
}

#campus_news_button{
    background: url("../images/dashboard/news-icon.jpg") no-repeat scroll top center #FFFFFF;
}
#campus_news_button:hover {
    box-shadow: 0px 0px 6px #888888;
    border: 1px solid #D8D8D8;
    text-decoration: none;
}
#manage_student_button{
    background: url("../images/dashboard/manage-student.png") no-repeat scroll top center #FFFFFF;
}
#manage_student_button:hover {
    box-shadow: 0px 0px 6px #888888;
    border: 1px solid #D8D8D8;
    text-decoration: none;
}
#mark_attendance_button{
     background: url("../images/dashboard/attendance.png") no-repeat scroll top center #FFFFFF;   
}
#mark_attendance_button:hover {
    box-shadow: 0px 0px 6px #888888;
    border: 1px solid #D8D8D8;
    text-decoration: none;
}

#manage_class_button{
     background: url("../images/dashboard/class_manage.png") no-repeat scroll top center #FFFFFF;   
}
#manage_class_button:hover {
    box-shadow: 0px 0px 6px #888888;
    border: 1px solid #D8D8D8;
    text-decoration: none;
}

#timetable_button{
    background: url("../images/dashboard/timetable-icon.jpg") no-repeat scroll top center #FFFFFF;
}
#timetable_button:hover {
    box-shadow: 0px 0px 6px #888888;
    border: 1px solid #D8D8D8;
    text-decoration: none;
}

#reminders_button{
    background: url("../images/dashboard/reminder-icon.jpg") no-repeat scroll top center #FFFFFF;
}
#reminders_button:hover {
    box-shadow: 0px 0px 6px #888888;
    border: 1px solid #D8D8D8;
    text-decoration: none;
}

#academic_button{
    background: url("../images/dashboard/acadamic-icon.png") no-repeat scroll top center #FFFFFF;
}
#academic_button:hover {
    box-shadow: 0px 0px 6px #888888;
    border: 1px solid #D8D8D8;
    text-decoration: none;
}





